@page "/"
@using MyJobDashboard.Services.Interfaces
@inject IApi_LaBonneBoiteService _service;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    string companies = ""; 
    protected override async void OnInitialized()
    {
        companies = await _service.GetCompaniesAsync();
    }
}